.app-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.page-container {
    position: absolute;
    left: 100px;
    top: 0;
    width: calc(100vw - 100px);
    height: 100%;
}

.marker {
    background-color: #ED6044 !important;
}