.app-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.page-container {
    width: 100%;
    height: auto;
    position: relative;
}


/* Marker Pop-up start */

.mapboxgl-popup {
    top: -15px;
    min-width: 316px;
    max-width: none !important;
    box-shadow: 0 10px 18px rgba(9, 30, 66, 0.15), 0 0 1px rgba(9, 30, 66, 0.31);
    cursor: pointer;
}

.mapboxgl-popup-tip {
    display: none;
}

.marker .classifier {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #575F6E;
    margin-bottom: 12px;
}

.marker .name {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2.8rem;
    color: #242731;
}

.marker .address {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.0rem;
    color: #575F6E;
}

.marker .icon {
    width: 46px;
    height: 46px;
    background-image: url(http://localhost:3000/assets/icons/object-types/transport.svg);
}

.marker .header {
    display: flex;
}

.header .text {
    max-width: 230px;
    margin-right: 24px;
}

.mapboxgl-popup-content {
    max-width: 316px;
    padding: 12px 8px !important;
}

/* Marker Pop-up end */


/* Map canvas */
.mapboxgl-canvas {
    width: 100%;
    height: auto;
}
