@import url('~modern-css-reset');

*, *::before, *::after  {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --box-shadow: inset -1px -1px 1px #D7D9DB;
    --text-primary-dark: #242731;
    --text-gradient-primary: -webkit-linear-gradient(#F78D61, #ED6044);
}
