@import url('~modern-css-reset');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --box-shadow: inset -1px -1px 1px #d7d9db;
  --text-primary-dark: #242731;
  --text-gradient-primary: -webkit-linear-gradient(#f78d61, #ed6044);
}

// POP-UP
.popUpClassifier .popTitle {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Secondary/Grey 2 */

  color: #575f6e;
}
