.filterWrapper {
    position: relative;
}


.btn {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 12px 16px;

    background: #FFFFFF;
    border: 1px solid #AEB1B5;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
    position: relative;
}

.btn.active {
    background: #F5F5F7;
    border: 2px solid #242731;
}

.btn:hover {
    background: #F5F5F7;
    border: 2px solid #242731;
}

.filterBody {
    border-radius: 8px;
    width: 480px;
    height: 520px;
    position: absolute;
    left: 0;
    top: 58px;
    z-index: 20;
    background: #FFFFFF;
    border: 1px solid #F5F5F7;

    box-shadow: 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
}

.filterOptions {
    padding: 24px 24px 24px 24px;
    overflow: scroll;
    height: calc(100% - 80px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.filterOptions > div:nth-child(even) {
    /*margin-right: 32px;*/
}

.applyBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E6E6E6;
    height: 80px;
    padding: 0 24px;
}

.applyFiltersBtn {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.0rem;
    letter-spacing: 0.0016em;
    color: #FFFFFF;
    padding: 14px 24px;
    background: #242731;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
}

.applyFiltersBtn:active {
    transform: scale(.98);
}

.clearFiltersBtn {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.0rem;
    letter-spacing: 0.0016em;
    color: #242731;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.filtersCount {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    width: 18px;
    height: 18px;
    background: linear-gradient(109.8deg, #F78D61 0%, #ED6044 100%);

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: center;
    position: absolute;
    top: -9px;
    right: -9px;

}
